.header {
	position: fixed;

	display: block;

	background-color: #E5BB3D;

	width: 100%;

	height: 130px;

	top: 0px;

	right: 0;

	left: 0;

	z-index: 999;
}

.fonttop {
	font-size: 40px;

	color: white;

	font-family: 'Oswald', sans-serif;

	padding-left: 680px;

	margin = 0;

	padding = 0;

	line-height: 20px;

	position: absolute;
}
.numtop {
	font-size: 110px;

	color: white;

	font-family: 'Oswaldo', sans-serif;

	padding-left: 610px;

	margin = 0;

	padding = 0;

	line-height: 20px;
}
.smalltexttop {
	font-size: 15px;

	color: white;

	font-family: 'Oswald', sans-serif;

	padding-left: 6px;

	margin = 0;

	padding = 0;

	line-height: 20px;

	top: -5px;

	position: absolute;
}
.imgtop {
	position: absolute;

	top: 90px;

	height: 30%;
}
.button {
  	background-color: #9E8847;

  	border: none;

  	color: white;

  	position: absolute;

  	font-family: 'Oswald', sans-serif;

  	top: 10px;

  	right: 10px;

  	padding: 8px;

  	text-align: center;

  	font-size: 16px;

  	cursor: pointer;
}

.button:hover {
		background-color: #5E512A;
}
.body {
	position: fixed;

	display: block;

	background-color: #967B2A;

	width: 100%;

	height: 400px;

	top: 0px

	right: -10px;

	left: 0;

	margin-right: 50px;
}
.imgbody {
	position: relative;

	margin-top: 160px;

	width: 15%;

	margin-left: 60px;

	border-width: 2px;

	border-color: white;
}
.imgborder {
	position: absolute;
	top: 136px;
	left: 50px;
	width: 233px;
	height: 228px;

	background-color: white;
}
.imgtext {
	position: absolute;
	margin-top: -230px;
	left: 340px;
	color: white;
  	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;

}
.imgtext2 {
	position: absolute;
	margin-top: -210px;
	left: 340px;
	color: white;
	text-indent: 70px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
	letter-spacing: 1px;
}
.imgtext3 {
	position: absolute;
	margin-top: -40px;
	margin-left: 41%;
	color: #FFE97F;
  	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;

}

.overview {
	position: absolute;

	margin-top: 308px;

	display: block;

	background-color: #D37613;

	width: 100%;

	height: 520px;

	top: 100px;

	right: 0;

	left: 0;

}
.overviewtext{
	position: absolute;
	top: -10px;
	left: 48px;
	color: white;
	letter-spacing: 2px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}
.overviewtext2{
	position: absolute;
	top: 73px;
	left: 48px;
	color: white;
	letter-spacing: 1px;
	font-size: 16px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}
.facts{
	position: absolute;

	margin-top: 828px;

	display: block;

	background-color: #9E5719;

	width: 100%;

	height: 620px;

	top: 100px;

	margin-right: 0px;

	left: 0;
}
.factstext{
	position: absolute;
	top: 0px;
	left: 48px;
	color: white;
	letter-spacing: 2px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}

.factstext2{
	position: absolute;
	color: white;
	letter-spacing: 1px;
	font-size: 40px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}

.factstext3{
	position: absolute;
	color: white;
	letter-spacing: 1px;
	width: 28%;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}

.factstext4{
	position: absolute;
	color: white;
	letter-spacing: 1px;
	width: 40%;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #white;
  color: black;
}

/* Style the back side */
.flip-box-back {
  color: white;
  background-color: #dd4d4d;
  letter-spacing: 1px;
  transform: rotateY(180deg);
}

.flex-container {
  flex-wrap: wrap;
  display: inline-flex;
  position: absolute;
  align-content: center;    
  justify-content: center;
  margin-top: 1540px;
  left: 0;
  background-color: #9E5719;
  font-family: 'Oswald', sans-serif;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 50px;
  padding: 5px;
  font-size: 30px;
}

.donation{
	position: absolute;

	margin-top: 2670px;

	display: block;

	background-color: #EAAF00;

	width: 100%;

	height: 360px;

	top: 100px;

	margin-right: 0px;

	left: 0;
}

.donationtext{
	position: absolute;
	top: 0px;
	left: 48px;
	color: white;
	letter-spacing: 2px;
	line-height: 40px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}
.donationtext2{
	position: absolute;
	letter-spacing: 2px;
	font-size: 24px;
	line-height: 50px;
	left: 48px;
  	font-family: 'Oswald', sans-serif;
  	word-wrap: break-word;
  	margin-right: 50px;
}
.fixedbutton{
	position: fixed;

	bottom: 40px;

	right: 40px;

  	background-color: #AA2A00;

  	border: none;

  	color: white;

  	width: 200px;

  	height: 60px;

  	font-family: 'Oswald', sans-serif;

  	text-align: center;

  	font-size: 16px;

  	cursor: pointer;
}
.fixedbutton:hover {
		background-color: #601800;
}
.sources{
	position: absolute;

	margin-top: 3000px;

	display: block;

	background-color: #b1b9bf;

	width: 100%;

	height: 230px;

	top: 100px;

	margin-right: 0px;

	left: 0;
}